*{
	margin:0;
	padding:0;
}

html{
	font-size:100px;
}

body{
	background-color:#fff;
	font-size:12px;
	line-height: 1;
	font-family: "Microsoft YaHei","微软雅黑",SimSun,"Oxygen",Arial,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",sans-serif;
	max-width:6.4rem;
	margin:0 auto;
	padding-bottom:1.04rem;
}

.content{
	width:100%;
/*	background-color:#eee;*/
	position: relative;
	padding:0.8rem 0.3rem 0rem;
}

